<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/base.css">
</head>
<style>
  label {
    display: inline-block;
    width: 100px;
    text-align: right;
  }

  ul {
    max-height: 200px;
    overflow: auto;
    width: 300px;
  }
</style>

<body>
  <ul>
    {{each list}}
    <li>{{$value.name}}---{{$value.password}}</li>
    {{/each}}
  </ul>
  <form action="/addUser" method="post">
    <div>
      <label for="用户名">用户名:</label>
      <input type="text" name="name">
    </div>
    <div>
      <label for="密码">密码:</label>
      <input type="text" name="password">
    </div>
    <div>
      <button type="submit">提交</button>
    </div>
  </form>
</body>

</html>